#messages-box{

    margin: 20px;
}


#loader{
  position:fixed;
  top: 50%;
  left: 50%;
}

#message-form-block{
  display:block;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width:100%;
  padding-left: 10%;
  padding-right: 10%;

}

.message{
  
  margin: 10px;
}

.message-date{
  
  font-size: 12px;
}

#members-box{
    
    position: fixed;
    top: 70px;
    right: 20px;
    text-align: right;
}

.member-letter{
  font-size: 14px;
  margin: 5px;
}