@font-face {
    font-family: 'Cisco Sans Extra Light';
    src: url('../fonts/CiscoSansExtraLight.otf');
}

$light-gray: #aaaaaa;
$medium-gray: #666666;
$dark-gray: #555555;
$blue: #009EDB;
$dark-blue: #0C83B5;
$navy-blue: #46639a;
$light-blue: #64b8d8;
$red: #DF3C3C;
$dark-red: #A40B0B;
$light-red: #FF7676;

$transition-speed: 200ms;
$video-border-width: 2px;

button, input, textarea {
  font-family: inherit;
  letter-spacing: .03rem;
  outline: none;
}

body, html {
  height: 100%;
  font-family: 'Cisco Sans Extra Light', sans-serif;
}

body {
  display: flex;
  background-image: url(../images/spaceballs-bg.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0;
  letter-spacing: .03rem;
}

h1 {
  font-weight: normal;
  color: $dark-gray;
  font-size: 1.5rem;
  margin: 1rem;
}

form.container {
  border: 2px solid $light-gray;
  border-radius: 5px;

  input[type=text] {
    border: none;
    width: 38rem;
    font-size: 1.2rem;
    padding: .5rem;
    margin: .5rem;
    outline: none;
  }

  button {
    margin: .7rem;
  }
}

button:enabled {
  transition: background $transition-speed ease-in;
  cursor: pointer;
}

.primary-button {
  border-radius: 1.5rem;
  padding: 0 1rem;
  color: white;
  font-size: 1.5rem;
  outline: none;
  background: $blue;
  border: 2px solid $dark-blue;

  &:hover:enabled {
    background: $light-blue;
  }

  &.red {
    background: $red;
    border: 1px solid $dark-red;

    &:hover:enabled {
      background: $light-red;
    }
  }

  &.small {
    font-size: 1rem;
    padding: .2rem 1rem;

    i.fa {
      font-size: 1rem;
    }
  }

  &.large {
    padding: .8rem 3.5rem;
    border-radius: 5rem;
  }

  &.wide {
    padding: 0 3rem;
  }

  &:disabled {
    background: none;
    border: 2px solid transparent;
    color: $medium-gray;
    cursor: auto;
  }
}

i.fa {
  font-size: 1.4rem;

  &.action {
    font-size: 1.2rem;
    margin-right: .2rem;
  }
}

.branding {
  background-image: url(../images/spark-logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 3rem;
  padding: 1rem 1rem 1rem 3.5rem;
  margin: 2rem 0 0 2rem;
  font-size: 1.2rem;
  color: $dark-gray;

  &.large {
    background-position: top;
    background-size: 7rem;
    font-size: 2.5rem;
    padding: 8rem 0 4rem;
    margin: 0;
  }
}

.logout {
  background: none;
  border: none;
  font-size: 1rem;
  color: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem 0 0;

  &:disabled {
    color: $light-gray;
  }
}

main {
  width: 56rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 1px 5px 0 #C2C2C2;
  background: white;

  &.login-page {
    justify-content: center;
  }

  header, footer {
    z-index: 10;
  }

  header {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .overlay {
      display: flex;
      position: absolute;
      width: 56rem;
      height: 28rem;
      background: white;
      z-index: 9;
    }
  }
}

.avatar-image {
  border-radius: 50%;
  border: 2px solid $light-gray;
  height: 10rem;
  width: 10rem;
}

.call-email {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  color: $dark-gray;
}

.call-status {
  display: none;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.video-container, .controls-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 1rem;
}

.video-container {
  position: relative;
  width:50rem;

  &:before,  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .1rem;
    z-index: 1;
    border-radius: 50%;
  }

  &:before {
    filter: blur(1px);
    background: #d6d6d6;
  }

  &:after {
    height: .5rem;
    filter: blur(5px);
    bottom: -.15rem;
    background: #4c4c4c;
  }
}

#incoming-call-overlay {
  justify-content: space-around;
  background: transparentize(lighten($light-blue, 10%), 0.2);
  border: 1px solid $blue;

  h1 {
    font-size: 2rem;
    color: darken($dark-blue, 10%);
    margin-top: 2rem;
  }

  .avatar-image {
    background: white;
  }

  .incoming-call-controls {
    flex-direction: row;
    margin-bottom: 2rem;

    button {
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#incoming-call, #outgoing-call {
  background: black;
  border: $video-border-width solid $navy-blue;
  z-index: 2;
}

#incoming-call, .incoming-controls {
  width: 32rem;
}

#outgoing-call, .outgoing-controls {
  width: 14rem;
  border-left: none;
  margin-left: -$video-border-width;
}

#incoming-call {
  height: 18rem;
}

#outgoing-call {
  height: 10.5rem;
}

.incoming-controls, .outgoing-controls {
  display: flex;
  justify-content: center;
}
