
	<div class="message">
		<div> 
			<span class="mdl-color-text--grey">
				<%= message.nameAuthor %>
			</span>
			&nbsp;&nbsp;
			<span class="message-date mdl-color-text--grey">
				<%= convertDate(message.created) %>
			</span>
		</div>
	<%= message.text %>
	<img id="<%= message.id %>" src="">
	</div>