
	<div class="message" id="<%= message.id %>">
		<div> 
			<span class="mdl-color-text--grey">
				<%= message.nameAuthor %>
			</span>
			&nbsp;&nbsp;
			<span class="message-date mdl-color-text--grey">
				<%= convertDate(message.created) %>
			</span>
		</div>
	<%= message.text %>
	<% if(message.files){ %><img src=""><% } %>
	</div>